<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
	<key>APP_KEY</key>
	<string>23a4f0a1acc82805a4e40126</string>
	<key>CHANNEL</key>
	<string>App Store</string>
</dict>
</plist>
